.menu {
    list-style: none;
    display: flex;
    font-size: 20px;

    background-color: #9D7166;
}

ul {
    list-style: none;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin: auto;
}

a{
    text-decoration: none;
    color: #ffffff;
}

h1 {
    background-color: #9D7166;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
}

.paragrafos {
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
}

.imagem img {
    border-radius: 50%;
    border: 1px solid #9D7166;
    width: 300px;
    height: 300px;
}

section {
    background-color: #D2C0B6;
}

article {
    display: flex;
    margin: auto;
    gap: 100px;
    width: 100vw;
}

h2 {
    background-color: #9D7166;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
}

body {
    background-color: #D2C0B6;
}

.video {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

h3 {

    color: #000000;
    text-align: center;
    font-size: 22px;
}

.endereco {
    font-size: 16px;
}

form {
    font-size: 18px;
}

textarea {
    border-radius: 10px;
}

label {
    font-size: 18px;
}

input {
    border-radius: 10px;
    width: 230px;
    height: 20px;
}

button {
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #9D7166;
    background-color: #D2C0B6;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #9D7166;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100vw;
    }

    ul {
        gap: 1rem;
    }
    
    .conteudo {
        display: flex;
        flex-direction: column;
        max-width: 90vw;
    }

    .paragrafos {
        font-size: 14px;
    }
}

